.search {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-tab {
    display: flex;
    &__item {
      border-radius: 8px 8px 0 0;
      list-style-type: none;
      padding: 10px 20px;
      background-color: $color-gray-1;
      @include styleText($font-size-medium - 1, $color-black, 0, 0, $font-weight-1);
      margin-right: 10px;
      cursor: pointer;
      &:first-of-type {
        background-color: $color-back-1;
        color: $color-white;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &-content {
    padding: 20px 10px;
    background-color: $color-back-1;
    border-radius: 0 8px 8px 8px;
  }
  &-categories {
    background-color: $color-white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  &-input {
    border: none;
    min-height: 45px;
    width: calc(100% - 120px);
    padding: 0 10px;
    font-size: $font-size-medium;
    color: $color-back-1;
    border-left: 1px solid rgba($color-gray, 0.2);
    &:focus-visible {
      outline: none;
    }
  }
  &-select {
    min-width: 150px;
    min-height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  &-btnSubmit {
    cursor: pointer;
    min-width: 120px;
    padding: 10px 0;
    color: $color-white;
    background-color: $color-red-1;
    border: none;
    border-radius: 4px;
    &:hover {
      opacity: 0.7;
    }
  }
  @include reponsiveBreakPoint('extra-large') {
    width: 75%;
  }
  @include reponsiveBreakPoint('medium') {
    width: 90%;
  }
  @include reponsiveBreakPoint('mobile') {
    display: none;
  }
}
