.header {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 15px 17px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 0px 8px;
    @include reponsiveBreakPoint('extra-large') {
      & {
        justify-content: flex-end;
      }
    }
  }
  &-left {
    display: flex;
    align-items: center;
    &__menu {
      display: flex;
      margin-left: 20px;
    }
    &__item {
      position: relative;
      list-style-type: none;
      margin-right: 25px;
      a {
        position: relative;
        text-decoration: none;
        @include styleText($font-size-medium - 1, $color-black, 0, 0, $font-weight-3);
      }
      &:hover .header-desktop__subMenu {
        visibility: visible;
      }
      &:hover .header-left__arrow {
        width: 100%;
      }
    }
    .active-tags {
      position: relative;
    }
    &__tags {
      position: absolute;
      top: -20px;
      right: 0;
      width: 30px;
      height: 20px;
      background-color: $color-red-1;
      text-align: center;
      border-radius: 4px;
      span {
        font-size: $font-size-small;
        color: $color-white;
      }
    }
    &__arrow {
      position: absolute;
      bottom: -50%;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-red-1;
      transition: all 0.3s;
    }
    @include reponsiveBreakPoint('extra-large') {
      & {
        display: none;
      }
    }
  }
  &-right {
    &__menu {
      display: flex;
      margin-left: 20px;
    }
    &__item {
      list-style-type: none;
      padding: 12px 15px;
      border-radius: 8px;
      cursor: pointer;
      a {
        position: relative;
        text-decoration: none;
        @include styleText($font-size-medium - 1, $color-black, 0, 0, $font-weight-3);
      }
      &:first-of-type {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          height: 50%;
          width: 1px;
          transform: translateY(-50%);
          background-color: rgba($color: $color-gray, $alpha: 0.8);
        }
      }
      &:last-of-type {
        border: 1px solid $color-gray;
        margin-left: 10px;
      }
      &:hover {
        background-color: $color-gray-1;
      }
    }
    @include reponsiveBreakPoint('extra-large') {
      & {
        display: none;
      }
    }
  }
  &-center {
    display: none;
    @include reponsiveBreakPoint('extra-large') {
      & {
        width: 100%;
        display: flex;
        align-items: center;
        &__logo {
          width: 60%;
          text-align: right;
        }
        &__menu {
          width: 40%;
          text-align: right;
        }
        &__toggle {
          border: none;
          background-color: transparent;
          .lni-menu {
            font-size: $font-size-large-1;
          }
        }
      }
    }
  }
  &-logo {
    @include reponsiveBreakPoint('extra-large') {
      & {
        display: none;
      }
    }
  }
  &-mobile {
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &__overlay {
      position: absolute;
      background-color: rgba($color-black, 0.5);
      height: 100%;
      width: 100%;
      z-index: 1;
      transition: all 0.4s;
      transform: translateX(100%);
    }
    &__content {
      position: absolute;
      z-index: 9;
      top: 0;
      right: 0;
      width: 35%;
      height: 100%;
      background-color: $color-white;
      transition: all 0.4s;
      transform: translateX(100%);
      @include reponsiveBreakPoint('medium') {
        width: 45%;
      }
      @include reponsiveBreakPoint('small') {
        width: 60%;
      }
      @include reponsiveBreakPoint('small-mobile') {
        width: 75%;
      }
    }
    &__top {
      padding: 15px 15px 0;
    }
    &__btn {
      width: calc(100% / 2 - 5px);
      padding: 15px 0;
      width: 100%;
      @include styleButton(
        6px,
        1px solid rgba($color-gray, 0.5),
        $color-black,
        $font-size-medium - 1,
        600,
        transparent
      );
      &:last-of-type {
        margin-left: 10px;
        background-color: $color-red-1;
        color: $color-white;
        border: none;
      }
    }
    &__action {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--story {
        margin-left: 0 !important;
        margin-top: 10px;
        background-color: transparent !important;
        color: $color-black !important;
        border: 1px solid rgba($color-gray, 0.5) !important;
      }
    }
    &__center {
      padding: 20px 0;
    }
    &__subMenu {
    }
    &__subItem {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 10px 0;
      list-style-type: none;
    }
    &__subItemContent {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 5px 0 15px;
    }
    &__text {
      width: calc(100% - 40px);
      padding-left: 10px;
      @include styleText($font-size-small + 2, $color-black, 0, 0, $font-weight-3);
    }
    &__childMenu {
      display: none;
      margin: 10px 0;
      padding: 10px 5px 10px 44px;
      width: 100%;
      background-color: $color-gray-1;
      li {
        list-style-type: none;
        padding: 5px 0;
        a {
          text-decoration: none;
          @include styleText($font-size-small + 2, $color-black, 0, 0, $font-weight-1);
        }
      }
    }
  }
  &-desktop {
    &__subMenu {
      visibility: hidden;
      position: absolute;
      top: 30px;
      left: 0;
      min-width: 200px;
      background-color: $color-white;
      padding: 10px 0;
      border: 1px solid $color-gray-1;
      border-radius: 6px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 8px;
      z-index: 999;
    }
    &__subItem {
      list-style-type: none;
      padding: 8px 15px;
      transition: all 0.2s;
      cursor: pointer;
      a {
        font-size: $font-size-small + 2;
        font-weight: $font-weight-1;
        &:hover::after {
          width: 0;
        }
      }
      &:hover {
        background-color: $color-gray-1;
      }
    }
  }
}
