@mixin reponsiveBreakPoint($screen) {
  @if (map-has-key($map: $breakpoints, $key: $screen)) {
    $value: map-get(
      $map: $breakpoints,
      $key: $screen,
    );
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @error 'srceen is not exist';
  }
}

@mixin styleText($fontSize, $color, $marginX, $marginY, $fontWeight) {
  font-size: $fontSize;
  color: $color;
  margin: $marginY $marginX;
  font-weight: $fontWeight;
}

@mixin styleButton($border-radius, $border, $color, $fontSize, $fontWeight, $background) {
  border: $border;
  border-radius: $border-radius;
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  background-color: $background;
}

@mixin customButtonCarousel($direction, $space) {
  position: absolute;
  top: 50%;
  z-index: 9;
  transform: translateY(-100%);
  @if ($direction == 'left') {
    left: $space;
  } @else {
    right: $space;
  }
}

@mixin customScroll($width, $background) {
  /* width */
  ::-webkit-scrollbar {
    width: $width;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $background;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $background;
  }
}
